body {
    background: linear-gradient(to bottom, #F4EDED, #B6E3F3, #F4EDED);
}

.h{
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.h__nav{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
   
}

.h__nav--img{
    width: 140px;
    height: 50px;
}

.h__ul{
    display:flex;
    list-style: none;/*elimina los puntos*/
    gap: 10px;
    padding: 0;
    margin-right: 100px;
}

.h__ul--li{
    margin: 0 10px;
    color: BLACK;
    font-weight: bold;
}

.sub{
background: linear-gradient(to bottom right, #ffe9c8, #ffd6d6dc,#ffe0cb);
width: 100%;
padding: 1rem 0;
}

.sub__article{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.sub__article--p{
    font-family: 'Dancing Script', cursive;
    width: 50%;
    font-size: 1.1rem;
  
}

.sub__div{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 50%;
}

.sub__div--p{
    
}

.sub__form{
    display: flex;
}

.sub__form--input{
    border: 0;
    padding: .5rem 1rem;
    border-radius: .8rem;
}

.sub__form--button{
    border:0;
    border-radius: 0.5rem;
    background-color: #e57070;
    color: white;
}

  
main section article div {
    display: flex;
    flex-wrap: wrap;
}
  
main section article div img {
    width: 33%;
    height: auto;
}
